.lawmakerDetailSection {
    margin-top : 80px;
    padding:50px 20px 0px 20px;
    width:100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lawmakerDetailSection::before {
    z-index: -5;
    position: absolute;
    top:80px;
    content: "";
    width:100%;
    height: 290px;
    background-color: #580009;
}

/*상단 의원 카드 섹션*/


.cardSection {
    width:100%;
    max-width: 635px;
    margin-bottom: 50px;
}

.voteRateContainer {
    margin-bottom: 20px;
    color : white
}

.voteRateLabel {
    margin-bottom: 5px;

}

.lawmakerCardContainer {
    display: flex;
    flex-direction: row;
}

.voteRageBox {
    position : relative;
    width:100%;
    max-width:630px;
    height:25px;
    background-color: aliceblue;
    border-radius: 5px;
}

.voteRateGraph {
    position: absolute;
    border-radius: 5px 0px 0px 5px;
    top:0px;
    left:0px;
    width:50%;
    height:25px;
    background-color:#CFA547;
    
    animation: voteGraph 1s forwards;
}

@keyframes voteGraph {
    to {
        width:70%;
    }    
}

.voteInfo {
    position: absolute;
    font-size: 17px;
    right:-70px;
    top:-30px;
    
    font-weight: bold;
}

.voteInfo span:nth-child(1) { font-size: 23px; }
.voteInfo span:nth-child(2) { font-size: 15px; }
.voteInfo span:nth-child(3) { font-size: 20px; }

/*img 에어리어 영역*/

.imageArea {
    width:auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-right: 10px;
}

.imageContainer {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    width:260px;
    height: 330px;

    box-shadow: 1px 2px 11px rgba(0, 0, 0, .3);

    margin-bottom: 10px;
}


.lawmakerCardContainer .snsButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content : center;
}

.lawmakerCardContainer .snsButtonContainer .snsButton {
    display: inline-block;
    width:30px;
    height: 30px;
    margin:5px;
    border-radius: 10px;
    overflow: hidden;
    color:white;
    text-align: center;
    line-height: 26px;

    fill:white;
}

.lawmakerCardContainer .snsButtonContainer .snsButton.ownPage {
    width:95px;
}

.lawmakerCardContainer .snsButtonContainer .snsButton div {
    width:inherit;
    height:inherit;
    background-color: #580009;
    border: 2px solid #580009;
    border-radius: 10px;

    padding:2px;
}

.lawmakerCardContainer .snsButtonContainer .snsButton div:hover {
    background-color: white;
    color:black;
    fill:black;
}


/*상단 오른쪽 섹션*/
.rightAreaContainer {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    padding: 20px;
    word-break: break-word;
}

.upperArea {
    font-size: 18px;
    color:white;

    flex : 1 1;
}

.upperArea div {
    margin-bottom: 10px;
}

.upperArea .nameLine {
    font-size: 32px;
    font-weight: bold;
}

.upperArea .nameLine span {
    margin-left: 10px;
    font-size: 20px;
    font-weight: normal;
}

.downArea {
    font-size: 15px;
    flex : 1 1;
}

.downArea div:first-child {
    font-size: 20px;
    font-weight: bold;

    margin-bottom: 10px;
}


/*주요 약력 영역*/

.summarizeSection {
    width: 100%;
    margin-bottom: 50px;
}

.summarizeSection h2 {
    position: relative;
    display: inline-block;
    padding-left:15px;
    font-size: 20px;
}

.summarizeSection h2::before {
    position: absolute;
    display: inline-block;

    content: "";
    width:5px;
    height: 20px;
    border-radius: 10px;
    top:2px;
    left: 0px;

    background-color: black;
}  

.summarizeSectionContents {
    width:100%;
}

/*오버뷰 영역*/

.overviewSection {
    width:100%;
}

.overviewSection h2 {
    position: relative;
    display: inline-block;
    padding-left:15px;
    font-size: 20px;
    margin-bottom: 50px;
}

.overviewSection h2::before {
    position: absolute;
    display: inline-block;

    content: "";
    width:5px;
    height: 20px;
    border-radius: 10px;
    top:2px;
    left: 0px;

    background-color: black;
}  

.graphArea {
    margin-bottom: 100px;
    padding:0 20px;

    display: inline-flex;
    flex-direction: column;
    width: 100%;;
}

.graphTitle {
    position: relative;
    margin-left:20px;
}
.graphTitle::before {
    position: absolute;
    left:-17px;
    top:4px;
    content: "";
    width: 0px;
    height: 0px;
    border-bottom: 7px solid transparent;
    border-left: 10px solid #000000;
    border-top: 7px solid transparent;
}



/*미디어 쿼리*/

@media screen and (max-width : 635px) {
    .imageArea { margin : 0px; }

    .lawmakerCardContainer {
        flex-direction: column;
    }
    .upperArea {
        color:black;
        margin-bottom: 15px;
    }
}